section.about {
    margin: 30px 0px;
}
.about-image img {
    max-width: 100%;
}
.about-txt {
    margin-top: 50px;
}
.about-txt h2 {
    font-size: 35px;
}
.about-details {
    padding: 50px 170px 50px 50px;
    position: relative;
    font-size: 20px;
    color: black;
}
/* .about-details p {
    font-size: 20px;
    color: black;
}   */
.about-details a button.btn.search-btn {
    margin-top: 30px;
}
.about-details button.btn.search-btn {
    font-weight: 500;
    font-size: 20px;
    padding: 15px 35px;
}
.about-details a button.btn.search-btn {
    margin-top: 30px;
}
.about-details img {
    position: absolute;
    max-width: 30%;
    bottom: 13%;
    right: -8%;
}


/* responsive css style  */
@media (min-width: 767px) and (max-width: 1100px) {
    .about-details {
      padding: 50px 70px 50px 50px !important;
      position: relative;
    }
}
  
/*for mobile*/
@media (min-width: 320px) and (max-width: 767px) {
    .Section-About {
        margin: 0px !important;
    }
    .about-txt {
        margin-top: 20px;
    }
    .about-txt h2 {
        font-size: 20px;
    }
    .about-details {
        padding: 15px;
        position: relative;
    }
    .about-details p {
        font-size: 15px;
    }
    .about-details a button.btn.search-btn {
        margin-top: 0px;
        font-size: 20px;
        padding: 10px 30px;
    }
    .about-details img {
        display: none;
    }
}