section.blogs {
  margin-bottom: 100px;
}
section.blogs h2 {
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.4;
  color: black;
  max-width: 770px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 60px;
}

.blog--bodyContainer {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  width: 100%;
  gap: 4.5rem;
}

/*for tablet pro*/
@media (min-width: 992px) and (max-width: 1024px) {
}

/*for tablet*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*for mobile*/
@media (min-width: 320px) and (max-width: 767px) {
  section.blogs {
    margin-bottom: 50px;
  }
  section.blogs h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .blog--bodyContainer {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
