html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Josefin Sans",sans-serif !important;
}

img{max-width: 100%;}

a{text-decoration: none !important;}

a:hover{text-decoration: none !important;}

ul{
  list-style: none !important;
  margin: 0px !important;
  padding: 0px 0px 0px 0px !important;
}
button {
  outline: none;
  border: 0px;
  background: transparent;
  padding: 0px;
  font-weight: 500;
}

/* ================= Section-video-contact-testimonial ================= */
.Section-vid-cont-testi {
  position: relative;
  margin-bottom: 100px;
}


::-webkit-scrollbar {
  width: 3px !important;
}
::-webkit-scrollbar-thumb {
  height: 5rem !important;
  background: #fff !important;
  border-radius: 100vh !important;
  border: 4px solid #fbb42f !important;
}

button.btn.search-btn {
  color: #fbb42f;
  font-size: 25px;
  font-weight: 500;
  border: 1px solid !important;
  padding: 15px 40px;
}
button.btn.search-btn:hover {
  background: #fbb42f;
  border: 1px solid #fbb42f !important;
  color: #fff;
}
/*App css*/

/*for tablet pro*/
@media (min-width: 992px) and (max-width: 1024px) {}

/*for tablet*/
@media (min-width: 768px) and (max-width: 991px) {}

/*for mobile*/
@media (min-width: 320px) and (max-width: 767px) {
  html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Josefin Sans",sans-serif !important;
  }
  
  img{max-width: 100%;}

  .row{
    margin: 0px !important;
  }

  .Section-vid-cont-testi {
    position: relative;
    margin-bottom: 50px;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}